@import "../../../scss/style.scss";

.add-to-cart-btn {
    @include btn;
    padding-bottom: 2px;
    border: 1px solid $main-color;
    .icon {
        margin-right: $small-space;
    }

    &:hover {
        background: transparent;
        color: $main-color
        
    }
}